@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?52wh2u');
  src:  url('fonts/icomoon.eot?52wh2u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?52wh2u') format('truetype'),
    url('fonts/icomoon.woff?52wh2u') format('woff'),
    url('fonts/icomoon.svg?52wh2u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-right:before {
  content: "\e902";
}
.icon-gitlab:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
