@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?52wh2u');
  src:  url('../fonts/icomoon.eot?52wh2u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?52wh2u') format('truetype'),
    url('../fonts/icomoon.woff?52wh2u') format('woff'),
    url('../fonts/icomoon.svg?52wh2u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.no-padding{
  padding: 0px!important;
}
body *{
  font-family: 'Roboto', sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-right:before {
  content: "\e902";
}
.icon-gitlab:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}


h3{
    letter-spacing: -1px;
    line-height: 31px;
    margin-top: 17px;
    font-size: 25px;
}

.header {
    font-family: 'Roboto', sans-serif;
    height: 65px;
    color: white;
    font-size: 25px;
}



.main-title-outline {
    float: left;
    border-right: 2px solid;
    padding-right: 20px!important;
}
.info {
    max-width: 180px;
    margin-left: 15px!important;
    font-size: 14.5px;
    line-height: 16px;
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

#if-logo{
	filter: brightness();
}


header {
    /*background: #222222;*/
    padding-top: 29px;
    padding-bottom: 7px;
    margin-bottom: 20px;
}


.social-media {
    float: right!important;
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 111px;
    height: 38px;
    width: 38px;
    text-align: center;
    transition: all ease-in-out 150ms;
}

.social-media a:hover{
  margin-bottom: 10px;
  transition:  all ease-in-out 150ms;
  opacity: 0.8;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #311b92!important;
     box-shadow: 0 1px 0 0 #311b92!important;
}

.mydata{
  margin-top: 18px!important;
  height: 100px!important;
}



.right-content {
    padding-left: 40px!important;
}

.right-content .process {
    font-size: 21px;
    font-weight: bold;
    border-left: 2px solid;
    padding-left: 15px;
}



pre {
    margin-top: 0px;
}

.the-final-f-result {
    font-weight: bold;
    text-align: center;
}

.values{

}


.main {
    margin-top: 42px;
}
.right-content label.subaction{
  display: block;
}

.real-step {
    margin-bottom: 20px;
}